
@font-face {
  font-family: "ArialUnicode";
  font-weight: normal;
  font-style: normal;
  src: url(ArialUnicode.ttf) format("truetype");
}

* {
    font-family: ArialUnicode;
}

/* News item demo */

h1 {
    font-family: Arial;
    color: orange;
    font-size: 1.2em;
}


.type-newsitem.content-body {
    columns: 2;
    font-family: Arial;
}

.type-newsitem.content-body .description {
    margin-bottom: 1em;
}

.type-newsitem.content-body h2 {
    display: none;
}

.type-newsitem.content-body .image-container {
    width: 270px;
    float: left;
    padding-right: 1em;
    padding-bottom: 0em;
}
.type-newsitem.content-body p {
    padding: 0;
    margin: 0;
}

.type-newsitem.content-body .image-caption:before {
    display: none;
}
.type-newsitem.content-body .image-container span {
    display: none;
}
.type-newsitem.content-body p {
}
